@import url('https://fonts.googleapis.com/css?family=Lato:regular,700');

body {
    font-family: 'Lato';
    background-color: #00a1a3;
    background-image: linear-gradient(to right, #005083, #23704e);
}

.title {
    padding-top: 100px;
}

h1 {
    display: block;
    max-width: 170px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    text-transform: uppercase;
    color: rgb(251, 255, 26);
    font-weight: 700;
}

p {
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    max-width: 1000px;
    font-size: 20px;
    font-weight: 400;
}
.res {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tank {
    position: absolute;
    animation: tank 0.3s infinite linear;
}

@keyframes tank {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

.item {
    width: 60px;
    height: 60px;
    background-image: url(../img/tank.png);
    background-size: cover;
    animation: size 0.3s infinite linear;    
}

@keyframes item {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
.explode{
    transform: scale(0);
}


